/RadioCabs_v2/*/appsettings.json
RadioCabs_v2/.idea/.idea.RadioCabs_v2/.idea/encodings.xml
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/797196a3-2e4a-4f06-bc5e-eeb166ca0773.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/7c27c1cf-63a9-4ccd-9ca8-86e71b7ed6ee.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/96799113-386d-4893-88ac-136fa71a4476.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/bea581c9-112c-47ed-acb9-2a1cbfdbb8ab.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/f35475d0-de19-47e7-b0f5-9354b9bf63d2.vsidx
