/RadioCabs_v2/*/appsettings.json
RadioCabs_v2/.idea/.idea.RadioCabs_v2/.idea/encodings.xml
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/**.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/797196a3-2e4a-4f06-bc5e-eeb166ca0773.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/7c27c1cf-63a9-4ccd-9ca8-86e71b7ed6ee.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/96799113-386d-4893-88ac-136fa71a4476.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/bea581c9-112c-47ed-acb9-2a1cbfdbb8ab.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/f35475d0-de19-47e7-b0f5-9354b9bf63d2.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/392fef6d-ad65-492e-94ca-3c28f437d0d7.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/650b6f9c-a7f5-4698-a50b-a1a55c66a9c3.vsidx
RadioCabs_v2/.vs/RadioCabs_v2/FileContentIndex/89d4911e-e5a2-4146-9bc3-611610cc64a5.vsidx
.vs/G1_RadioCabs/FileContentIndex/aeca18ea-bce2-46eb-ac65-cf3680d027ae.vsidx
.vs/G1_RadioCabs/FileContentIndex/1a2b6850-41c4-49ab-9486-746ca27ebde7.vsidx
.vs/G1_RadioCabs/FileContentIndex/5d68a84f-5268-4225-9eaf-06eeffeb5f5a.vsidx
.vs/G1_RadioCabs/FileContentIndex/549ac91b-c37c-4cd9-bab6-df09a0f0154e.vsidx
*.vs/G1_RadioCabs/FileContentIndex/*.vsidx